<!DOCTYPE html>

<html>
<style>
button {
  background-color: #2E86C1;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  float:center;

}

</style>
	<body style="background-color:#92a8d1">
  <div style="text-align:center">
  <head>

    <h1>Library Management</h1>

	 <h2>Please click the below button to login/signup</h2>
	  </head>
    <form method="POST">
      <button formaction="register">Register</button>
      <button formaction="login">login</button>
   </form>
 </div>
 </body>
 </html>
